//Fontes
$fontPrincipal: Robot, sans-serif;

//Cores
$corDoHeader: #182C61;
$corDoBody: #f5f6fa;
$botaoLivre: #44bd32;
$botaoApertado: #4cd137;

//Breakpoints
$mobile: 767px;
$tablet: 1023px;